{:lint-as {fr.jeremyschoffen.nexus-ux.utils/defroutes clojure.core/def
           aereaco.nexus-ux.clojure.utils/transient-> clojure.core/->}
 :hooks
 {:analyze-call
  {test.utils/with-server hooks.test-hooks/with-server}}
 :linters {:redundant-ignore {:exclude [:clojure-lsp/unused-public-var]}}}