<template>
    <style>
        #theme {
            --admin-sidebar-condensed-width:0rem;
            --admin-sidebar-expanded-width:20rem;
            --admin-sidebar-open-width:20rem;
            --header-height: auto;        
            font-family: system-ui, sans-serif;
            font-size: 1rem;
            line-height: 1.7;

            display: grid;

            grid-template-columns: 0rem 1fr;

            grid-template-rows: auto auto 1fr;

            grid-template-areas:
                "sidebar header"
                "sidebar tabs"
                "sidebar main"
                "sidebar main";

            transition: grid-template-columns 0.3s ease-in-out;

        }

        .admin-header {
            grid-area: header;
            z-index: 900;
            .navbar{
                .expander { display: none;}  
            }
        }

        .admin-tabs {
            grid-area: tabs;
        }

        .admin-main {
            grid-area: main;
            margin-top: -10rem;
            padding-top: 10rem;
        }

        .admin-sidebar {
            grid-area: sidebar;     
            z-index: 1000;
            transition: width 0.01s ease-in-out;
            &.open {
                .close {
                    display: block;
                }
            }
            &.open, &.hovered {
            &  aside {
                position: fixed;
                width: var(--admin-sidebar-open-width);
                top: 0;
                bottom: 0;
                inset-inline-start: 0;
                }
                .brand .logo {
                    display: block;
                }
                .brand .emblem {
                    display: none;
                }
                .menu {
                    details  ul {
                        display: block;
                    }
                    span {
                        display: block;
                    }
                    summary:after {
                        display: block;
                    }
                }
                .tabs {
                    button {
                        display: block;
                    }
                    div {
                        display: none;
                    }
                }
            }
            aside {
                color:rgb(195, 195, 195);
                width: var(--admin-sidebar-condensed-width);
                transition: width 0.3s ease-in-out;
                z-index: 990;
                .brand .logo {
                    display: none;
                }
                .brand .emblem {
                    display: block;
                }
                .close {
                    display: none;
                }
                .menu {
                    details  ul {
                        display: none;
                    }
                    span {
                        display: none;
                        white-space: nowrap;
                    }
                    summary:after {
                        display: none;
                    }
                }
                .tabs {
                    button {
                        display: none;
                    }
                    div {
                        display: flex;
                    }
                }
                .toggle {
                --tglbg: oklch(0 0 0 / 0.88);
                }
            }
        }

        .sidebar-overlay {
            position: fixed;
            top: 0;
            inset-inline-start: 0;
            bottom: 0;
            z-index: 950;
            background-color: rgba(0, 0, 0, 0.5);
            transition: width 0.2s ease-in-out;
            &.open {
                inset-inline-end: 0;
            }
        }

        @media (min-width: 768px) {
            #theme {
                --admin-sidebar-condensed-width:5rem;
                grid-template-columns: var(--admin-sidebar-condensed-width) 1fr;
                .admin-header {
                    .navbar {
                        .expander { display: flex;}
                        .show { display: none;}
                    } 
                }
                &.expanded {
                    grid-template-columns: var(--admin-sidebar-expanded-width) 1fr;
                    .admin-header {                           
                        .navbar{
                            .expander {
                                transform: scale(-1);                                     
                            }  
                        }
                    }
                    .admin-sidebar {              
                            aside {
                            width: var(--admin-sidebar-expanded-width);
                            .brand .logo {
                                display: block;
                            }
                            .brand .emblem {
                                display: none;
                            }
                            .menu {
                                details  ul {
                                    display: block;
                                }
                                span {
                                    display: block;
                                }
                                summary:after {
                                   display: block;
                                }
                            }
                            .tabs {
                                button {
                                    display: block;
                                }
                                div {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }      
        }
    </style>
    <div id="theme"
        data-signals="{
            theme: {
                state: 0,
                expanded: false,
                direction: 'ltr',
                zoom: { value: 1, temp: 1 },
                types: [
                    { type: 'light', title: 'Light', selected: 'light', template: 'sun-svg' },
                    { type: 'dark', title: 'Dark', selected: 'dark', template: 'moon-svg' },
                    { type: 'system', title: 'System', selected: 'system', template: 'brightness-svg' }
                ]
            },
            themes: [
                'light',
                'dark',
                'cupcake',
                'bumblebee',
                'emerald',
                'corporate',
                'synthwave',
                'retro',
                'cyberpunk',
                'valentine',
                'halloween',
                'garden',
                'forest',
                'aqua',
                'lofi',
                'pastel',
                'fantasy',
                'wireframe',
                'black',
                'luxury',
                'dracula',
                'cmyk',
                'autumn',
                'business',
                'acid',
                'lemonade',
                'night',
                'coffee',
                'winter',
                'dim',
                'nord',
                'sunset'
            ],
            bookmarks: {
                visible: false,
                list:[
                    { title: 'Home', icon: 'home', pinned: true, route:'/' },
                    { title: 'E-commerce', icon: null , pinned: false, route:'/ecommerce' },
                    { title: 'Communication', icon: null , pinned: false, route:'/communication' }
                ] 
            }
        }"
        data-persist
        class="h-full overflow-hidden"
        data-class="{ 'expanded': $theme.expanded, 'ltr': $theme.direction === 'ltr', 'rtl': $theme.direction === 'rtl' }"
    >
        <admin-header
            class="admin-header bg-neutral"
            data-component="_components/admin-header.html"
        ></admin-header>

        <admin-tabs
            class="admin-tabs bg-base-300/80 -mb-14 z-10 transition-all"
            data-class="{ '-mt-16 h-0 overflow-hidden': !$bookmarks.visible, }"
            data-component="_components/admin-tabs.html"
        ></admin-tabs>
        
        <admin-sidebar
            id="sidebar"
            class="admin-sidebar bg-neutral"
            data-component="_components/admin-sidebar.html"  
            data-signals="{ sidebarOpen: false, sidebarHovered: false }"
            data-class="{ 'open': $sidebarOpen, 'hovered': $sidebarHovered }"
            data-on-mouseenter="!$sidebarOpen ? $sidebarHovered = true : null;"
            data-on-mouseleave="$sidebarHovered ? $sidebarHovered = false : null"
            data-on-click="($sidebarOpen || $sidebarHovered) && event.target.closest('a, #sidebar .close') ? ($sidebarOpen = false, $sidebarHovered = false) : null;"
        ></admin-sidebar>

        <admin-main
            class="admin-main"
            data-component="_components/admin-main.html"
        ></admin-main>
    </div>
</template>