<div class="p-8" x-data="{selectedTheme: activeTheme ? 'secondaryTheme' : 'primaryTheme'}">
    <div class="mb-6 whitespace-nowrap"><h1 class="text-lg">Panel Preferences</h1>
    </div>
    <div class="flex flex-col">
        
        <theme-chooser></theme-chooser>
        <div class="divider"></div>
            <theme-textflow></theme-textflow>
        <div class="divider"></div>
            <theme-zoom></theme-zoom>
        <div class="divider"></div>

        <div class="form-control">
            <label class="label cursor-pointer">
            <span class="label-text">Page Tabs</span>
            <input type="checkbox" class="toggle toggle-secondary" checked="checked" />
            </label>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
            <span class="label-text">Option 2</span>
            <input type="checkbox" class="toggle toggle-accent" checked="checked" />
            </label>
        </div>
        
    </div>
    </div>
</div>