<div class="flex flex-nowrap pe-4">
<span class="label-text grow">Text Flow Direction</span>
<label class="grid cursor-pointer place-items-center w-10">
<input type="checkbox" :value="appData.theme.direction" :checked="appData.theme.direction === 'rtl'" @click="toggleThemeDirection()" class="toggle toggle-primary toggle-lg bg-base-content col-span-2 col-start-1 row-start-1" />
<svg class="stroke-base-100 size-6 fill-base-100 col-start-1 row-start-1 icon icon-tabler icons-tabler-outline icon-tabler-text-direction-ltr" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 19h14" /><path d="M17 21l2 -2l-2 -2" /><path d="M16 4h-6.5a3.5 3.5 0 0 0 0 7h.5" /><path d="M14 15v-11" /><path d="M10 15v-11" /></svg>
<svg class="stroke-base-100 size-6 fill-base-100 col-start-2 row-start-1 icon icon-tabler icons-tabler-outline icon-tabler-text-direction-rtl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 4h-6.5a3.5 3.5 0 0 0 0 7h.5" /><path d="M14 15v-11" /><path d="M10 15v-11" /><path d="M5 19h14" /><path d="M7 21l-2 -2l2 -2" /></svg>
</label>                                            
</div>